<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calapalamos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.example.calapalamos.Constants"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.calapalamos.LaFoscaMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.calapalamos.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.example.calapalamos.OptionsActivity"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.example.calapalamos.Tab1State"
            android:label="@string/title_activity_tab1_state" >
        </activity>
        <activity
            android:name="com.example.calapalamos.Tab2Opt"
            android:label="@string/title_activity_tab2_opt" >
        </activity>
        <activity
            android:name="com.example.calapalamos.library.MiTabListener"
            android:label="@string/title_activity_mi_tab_listener" >
        </activity>
        <activity
            android:name="com.example.calapalamos.KidsListActivity"
            android:label="@string/title_activity_kids_list" >
        </activity>
    </application>

</manifest>
